experiment/input/*.bin

experiment/code/*.o
experiment/code/*.f90
experiment/code/mitgcmuv

data/*.nc
data/*.bin
data/*.csv

__pycache__/
*.pyc
.env
.pfas-sim

# simulation outputs
*.png
*.gif
*.out
*.nc
*.err