experiment/input/*.bin

experiment/code/*.o
experiment/code/*.f90
experiment/code/mitgcmuv

data/*.nc
data/*.bin
data/*.csv
data/*.xlsx

__pycache__/
*.pyc
.env

papers/*.pdf

*.csv
.venv
.DS_Store

.pfas-sim

# simulation outputs
*.png
*.gif
*.out
*.nc
*.err
# temp files for debugging
frame_preview.py
presentation_video.py